Repository nemethzalan07/Proj-Menza-9C, pull requests merged in 2023-04, with the labels that each got.

#19 kész az index oldal
  index.html
  menza.css
Labels: Formázás, Html, CSS, Kiegészítés

#22 11 ételkészítős játék helye
  jatek-eloszto.html
  jatek1.html
  menza.css
Labels: Html, CSS

#23 a quiz.html létrehozzva
  index.html
  jatek-eloszto.html
  jatek1.html
  jatek2.html
  jatek3.html
  menza.html
  quiz.html
Labels: Html, CSS

#27 Elkapós játék készítése
  forrasok/kepek/kutya.webp
  jatek2.css
  jatek2.html
  jatek2.js
Labels: Html, CSS, JavaScript

#30 Ebéd játék alapja
  forrasok/kepek/ember.png
  forrasok/kepek/próbakar.png
  forrasok/kepek/vilag.png
  jatek-eloszto.html
  jatek1.css
  jatek1.html
Labels: Html, CSS, JavaScript

#28 24 a quiz elkészítése 1
  README.md
  forrasok/kepek/quiz-hatter.jpg
  index.html
  jatek-eloszto.html
  jatek1.html
  jatek2.html
  jatek3.html
  menza.css
  menza.html
  quiz.css
  quiz.html
  quiz.js
Labels: Html, CSS, Sűrgős, JavaScript

#32 kész játék, szövegekkel együtt
  jatek1.css
  jatek1.html
Labels: Html, CSS, JavaScript

#34 játékelosztó javítása
  forrasok/kepek/jatek1.avif
  forrasok/kepek/jatek1.jpg
  forrasok/kepek/jatek2.avif
  jatek-eloszto.html
Labels: Javítás

#40 kígyós játék háttere megvan
  jatek2.html
Labels: Formázás, Javítás

#45 PPT kijavítva
  Prezentáció.pptx
Labels: Javítás
