Repository nemethzalan07/Proj-Menza-9C, pull requests merged in 2023-03, with the labels that each got.

#5 menza oldal elkezdve
  menza.html
Labels: Html

#6 menza oldal szövege kész
  menza.html
Labels: Html

#7 menza oldal kész (háttér kell)
  képek/iskolai menza 3.jpeg
  képek/iskolai menza 4.jpeg
  képek/iskolai menza1.jpeg
  képek/iskolai menza2.jpg
  képek/rantott-sajt.jpg
  képek/rántott hús.png
  menza.css
  menza.html
Labels: Html

#8 nevek kijavítása
  forrasok/kepek/iskolai-menza1.jpeg
  forrasok/kepek/iskolai-menza2.jpg
  forrasok/kepek/iskolai-menza3.jpeg
  forrasok/kepek/iskolai-menza4.jpeg
  forrasok/kepek/rantott-hus.png
  forrasok/kepek/rantott-sajt.jpg
  menza.css
  menza.html
Labels: Javítás, Rendezés

#10 9 játékelosztó külön oldala
  forrasok/kepek/eloszto-hatter.png
  forrasok/kepek/jatek1.avif
  jatek-eloszto.html
  jatek1.html
  jatek2.html
  jatek3.html
  menza.css
  menza.html
Labels: Html, CSS

#13 12 index html oldal létrehozása
  forrasok/kepek/index-hattere.jpg
  index.html
  jatek-eloszto.html
  jatek1.html
  jatek2.html
  jatek3.html
  menza.css
  menza.html
Labels: Formázás, Html, CSS, Javítás

#17 Revert "javítás"
  menza.css
  menza.html
Labels: Hiba

#18 15 index html oldal kiegészítése
  forrasok/kepek/fooldal-jatekok-kep.webp
  forrasok/kepek/fooldal-menza-kep.png
  forrasok/kepek/fooldal-quiz-kep.webp
  index.html
  menza.css
Labels: Html, CSS, Kiegészítés
